h1 {
  margin-bottom: 1em;
}

.container-fluid {
  margin-bottom: 2em;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000000;
  opacity: .4;
  z-index: 1;
}

.modal {
  .btn {
    cursor: pointer;
  }
}

.new_server {
  margin-top: 1em;
}

.server {
  border: 1px solid #444;
  margin-bottom: 1em;

  dt, dd {
    display: block;
    padding: 0.2em 1em 1.2em;
  }

  a.delete {
    color: #999;
    cursor: pointer;
    font-size: 0.7em;
  }
}
