h1 {
  margin-bottom: 1em;
}

form {
  .help-block {
    color: red;
  }
}

.container-fluid {
  margin-bottom: 2em;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000000;
  opacity: .4;
  z-index: 1;
}

.modal {
  form {
    margin-bottom: 0px;
  }

  .btn {
    cursor: pointer;
  }
}

.new_server {
  margin-top: 1em;
}

.server {
  margin-bottom: 1em;

  &.in-use {
    border: 2px solid #f17477;
    border-left-width: 20px;
  }
  &.not-in-use {
    border: 2px solid #89f182;
    border-left-width: 20px;
  }

  h2.name {
    span.edit {
      display: none;
      cursor: pointer;

      i {
        vertical-align: 0.25em;
      }
    }

    &:hover span.edit {
      display: inline;
    }
  }

  dt, dd {
    display: block;
    padding: 0.2em 1em 1.2em;
  }
  dd {
    padding-top: 2em
  }

  button.delete {
    background: transparent;
    border: 0px;
    box-shadow: none;
    color: #777;
    font-size: 0.7em;
    padding: 0px;
    text-shadow: none;
  }

  .description {
    input {
      background: none transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: #333;
      margin-bottom: 2px;
      padding: 0px;

      &::-webkit-input-placeholder {
        color: #0088cc;;
      }
      &:-moz-placeholder {
        color: #0088cc;;
      }
      &:-ms-input-placeholder {
        color: #0088cc;;
      }
    }
  }
}
