<template name="createServerDialog">
  <div class="mask create-sever-dialog"></div>
  <div class="modal create-sever-dialog">
    <div class="modal-header">
      <button type="button" class="close cancel" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>New Server</h3>
    </div>

    {{#autoForm collection="Servers" id="insertServerForm" type="insert"}}
      <fieldset class="modal-body">
        {{> afQuickField name="name"}}
        {{> afQuickField name="url"}}
      </fieldset>

      <div class="modal-footer">
        <a class="btn cancel">Cancel</a>
        <button type="submit" class="btn btn-primary">Create Server</button>
      </div>
    {{/autoForm}}

  </div>
</template>
