<template name="server">

  <div class="row-fluid">
    <div class="server span12 {{isInUseClass}}">
      <div class="row-fluid">

        <dt class="span4">
          <h2 class="name">
            <a href="{{fullUrl}}" target="_blank">
              {{name}}
            </a>
            {{#if currentUser}}
              <span class="buttons">
                <span class="edit"><i class="icon-pencil"></i></span>
                {{#quickRemoveButton collection="Servers" _id=this._id beforeRemove=beforeDeleteServer class="delete"}}
                  <i class="icon-trash"></i>
                {{/quickRemoveButton}}
              </span>
            {{/if}}
          </h2>
          <a href="{{fullUrl}}" target="_blank">
            <div class="url">
              {{url}}
            </div>
          </a>

          {{#if hasNotes}}
            <div class="notes">
              <em>Notes:</em>&nbsp;&nbsp;
              {{notes}}
            </div>
          {{/if}}
        </dt>

        <dd class="span8">
          <div class="row-fluid">
            <div class="span1">
              {{#if isInUse}}
                <img src="{{inUseByUserImage}}" class="avatar" />
              {{/if}}
            </div>
            <div class="span7">
              <div class="in-use">
                {{#if isInUse}}
                  <p>
                    I&rsquo;m in use by {{inUseByName}}
                    {{#if inUseSince}}
                      <br>since {{niceDate inUseSince}}
                    {{/if}}
                  </p>
                {{else}}
                  <p>
                    I&rsquo;m free!
                  </p>
                {{/if}}
              </div>
              {{#if isInUse}}
                <div class="description">
                  <em>for:</em>&nbsp;&nbsp;
                  {{#if currentUser}}
                    <input type="text"
                        name="description"
                        value="{{description}}"
                        placeholder="Add a description…">
                  {{else}}
                    {{description}}
                  {{/if}}
                </div>
              {{/if}}
            </div>
            <div class="span4">
              {{#if currentUser}}
                {{#if isInUse}}
                  <input type="button" name="release"
                    value="Release it"
                    class="btn btn-large release">
                {{else}}
                  <input type="button" name="take"
                    value="Take it"
                    class="btn btn-large take">
                {{/if}}
              {{/if}}
            </div>
          </div>
        </dd>

      </div>
    </div>
  </div>

</template>
