<template name="serverFieldset">
  <fieldset class="modal-body row-fluid">
    <div class="span6">
      {{> afQuickField name="name" autofocus=""}}

      {{#if hasDefaultUrlPattern}}
        {{> afQuickField name="url" value=defaultUrl readonly=true}}
        <small>Defaults to URL pattern.</small>
      {{else}}
        {{> afQuickField name="url"}}
      {{/if}}
    </div>

    <div class="span6">
      {{> afQuickField name="notes"
        rows=5
        placeholder="Type of server, software versions, etc."}}
    </div>
  </fieldset>
</template>
