<template name="server">

  <div class="row-fluid">
    <div class="server span12 {{isInUseClass}}">
      <div class="row-fluid">

        <dt class="span4">
          <a href="{{fullUrl}}">
            <h2 class="name">
              {{name}}
            </h2>
          </a>
          <a href="{{fullUrl}}">
            <div class="url">
              {{url}}
            </div>
          </a>

          <a class="delete">Delete</a>
        </dt>

        <dd class="span8">
          {{#if currentUser}}
            {{#if isInUse}}
              <input type="button" name="releasing"
                value="Releasing it"
                class="btn btn-large releasing">
            {{else}}
              <input type="button" name="taking"
                value="Taking it"
                class="btn btn-large taking">
            {{/if}}
          {{/if}}
        </dd>

      </div>
    </div>
  </div>

</template>
